<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<p><%= link_to "New student", new_student_path %></p>
<strong><%= link_to 'Articles Page', articles_path%></strong>
